[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moderndive"]
	path = moderndive
	url = https://github.com/moderndive/moderndive
